.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.login-form > label {
  font-family: 'Trocchi', serif;
  font-size: 30px; 
  margin-bottom: 7px;
  color: #FFFFFF;
}

.login-form > input {
  margin-bottom: 40px;
  padding: 20px;
  width: 35%;
  border: 3px groove lightslategray; 
  box-shadow: 5px 5px 15px 5px #1C2541;
  font-size: 16px;
}

.login-form > input::placeholder {
  font-size: 16px;
}

#login-submit {
  border: 1px solid lightslategray;
  box-shadow: 5px 5px 10px 1px #1C2541;
  padding: 15px;
  width: 15%;
  font-family: 'Rozha One', serif; 
  border-radius: 25%;
  color: black;
  background-color: #5BC0BE;
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.demo {
  text-align: center;
  color: white;
  font-family: 'Trocchi', serif;
  font-size: 0.8em;
  margin-bottom: 50px;
  cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .login-form {
    margin-top: 30px;
  }

  .login-form > label {
     font-size: 18px;
     color: #FFFFFF;
  }

  .login-form > input {
    box-shadow: 1px 1px 10px 1px #1C2541;
    margin-bottom: 25px;
    width: 55%;
    padding: 10px;
    font-size: 14px;
  }

  .login-form > input::placeholder {
    font-size: 14px;
  }

  #login-submit {
    width: 40%;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
  }

}/*end of iphones css*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
   .login-form > input {
     width: 55%;
   }

   #login-submit {
     font-size: 18px;
     margin-top: 10px;
   }

  .demo{
    font-size: 1.2em;
  }

}/*end of iphones landscape css*/


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .login-form {
    margin-top: 30px;
  }

  .login-form > label {
    font-size: 30px;
    margin-bottom: 20px;
    color: #FFFFFF;
  }

  .login-form > input {
    box-shadow: 1px 1px 10px 1px #1C2541;
    margin-bottom: 35px;
    width: 60%;
    padding: 22px;
    font-size: 18px;
  }

  .login-form > input::placeholder {
    font-size: 18px;
  }

  #login-submit {
    width: 30%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
  }

  .demo{
    font-size: 1.2em;
  }

} /*end of ipad css*/

@media only screen and (min-width: 992px) and (max-width: 1999px) {
  .login-form {
    margin-top: 50px;
  }

  .login-form > label {
    font-size: 40px;
  }

  .login-form > input {
    padding: 30px;
    font-size: 20px;
  }

  .login-form input::placeholder {
    font-size: 20px;
  }

  #login-submit {
    font-size: 24px;
  }

  .demo{
    font-size: 1.5em;
  }
}/*end of ipad pro css*/
