.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}

.nav-button {
  border: 1px solid lightslategray;
  box-shadow: 5px 5px 10px 1px gray;
  padding: 10px;
  width: 100%; 
  text-align: center;
  font-family: 'Rozha One', serif; 
  border-radius: 25%;
  color: black;
}

.title {
  font-family: 'Rozha One', serif; 
  color: black;
  font-size: 36px;
  padding: 30px;
  background-image: url("../pictures/retro-comic.jpg");
  background-size: 250px;
  background-position: center;
  background-repeat: no-repeat;
}



