.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-family: 'Trocchi', serif;
  font-size: 22px; 
  margin-bottom: 7px;
}

#username, #password, #firstname, #lastname, #ta-auth-code {
  margin-bottom: 40px;
  padding: 20px;
  width: 25%;
  border: 3px groove lightslategray; 
  box-shadow: 5px 5px 15px 5px #1B9850;
}

#sign-up-submit {
  border: 1px solid lightslategray;
  box-shadow: 5px 5px 10px 1px gray;
  padding: 15px;
  width: 15%;
  font-family: 'Rozha One', serif; 
  border-radius: 25%;
  color: black;
  background-color: #1B9850;
  font-size: 20px;
  margin-top: 40px;
}