body {
  background-color: #3A506B;
}

.ticket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px groove lightgoldenrodyellow;
  background-color: lightgoldenrodyellow;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container > label {
  font-family: 'Trocchi', serif;
  font-size: 22px; 
  margin-bottom: 7px;
}

.form-container > input {
  margin-bottom: 40px;
  padding: 20px;
  width: 25%;
  border: 3px groove lightslategray; 
  box-shadow: 5px 5px 15px 5px #1C2541;
}

.initial-submit-button {
  border: 1px solid lightslategray;
  box-shadow: 5px 5px 10px 1px #1C2541;
  padding: 15px;
  font-family: 'Rozha One', serif; 
  border-radius: 25%;
  color: #0B132B;
  background-color: #5BC0BE;
  font-size: 15px;
  margin-top: 40px;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .ticket-container {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px 5px #1C2541;
    background-color: lightgoldenrodyellow;
  }

  .form-container > label {
     font-size: 16px;
     margin-top: 10px;
  }

  .form-container > input {
    box-shadow: 1px 1px 10px 1px #1C2541;
    margin-bottom: 25px;
    width: 100%;
    padding: 20px;
  }

  .initial-submit-button {
    margin-top: 10px;
    margin-bottom: 20px;
  }

}/*end of iphone css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ticket-container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    box-shadow: 10px 10px 15px 15px #1C2541;
  }

  .form-container > label {
     font-size: 30px;
     margin-top: 20px;
     margin-bottom: 10px;
  }

  .form-container > input {
    box-shadow: 2px 2px 10px 1px #1C2541;
    margin-bottom: 25px;
    width: 150%;
    padding: 30px;
  }

  .initial-submit-button {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
  }
}/*end of ipad css*/


