.hide-when-large {
  display: none;
}

table {
  margin: auto;
  width: 85%;
  border-collapse: collapse;
  box-shadow: 10px 10px 15px 1px #1C2541;
}

table, th, td {
  border: 1px solid #0B132B;
}

.delete-button-cell, .status-cell {
  text-align: center;
}

.status-cell {
  font-family: 'Trocchi', serif;
}

td {
  background-color: #FFFFFF;
  height: 50px;
  text-align: left;
}

td:hover, td > form > input:hover {
  background-color: lightgoldenrodyellow;
}

th {
  font-size: 30px;
  font-family: 'Rozha One', serif;
  height: 70px;
  background-color: #1C2541;
  color: #FFFFFF;
  text-shadow: 7px 7px 2px #0B132B;
}

td > form > input {
  border: transparent;
  margin-left: 5px;
  font-family: 'Trocchi', serif;
  font-size: 14px;
}

input[type="button"] {
  background-color: #5BC0BE;
  font-family: 'Rozha One', serif; 
  border: 1px solid lightslategray;
  box-shadow: 1px 1px 10px 1px #1C2541;
  border-radius: 25%;
  float: right;
  margin-right: 10px;
}

input[type="button"]:hover {
  background-color: lightcyan;
}

td > button {
  background-color: lightcoral;
  font-family: 'Rozha One', serif; 
  border: 1px solid lightslategray;
  box-shadow: 1px 1px 10px 1px #1C2541;
  border-radius: 25%;
  font-size: 14px;
}

td > button:hover {
  background-color: lightpink;
}


@media only screen and (min-width: 320px) and (max-width: 479px) {
  .hide-when-small {
    display: none;
  }

  .hide-when-large {
    display: flex;
  }

  ul {
    list-style: none;
  }

  .tickets-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    border: 1px solid black;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px 1px #1C2541;
    background-color: lightskyblue;
    padding-top: 7px;
  }

  .ticket-inputs, .edit-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .field-labels {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 5px;
  }

  .edit-button {
    margin-bottom: 10px;
    margin-right: 7px;
    border: 1px solid #1C2541;
    background-color: #5BC0BE;
    border-radius: 35%;
    font-family: 'Trocchi', serif;
  }

  .delete-button {
    margin: 10px 10px;
    border: 2px solid lightcoral;
    background-color: lightcoral;
    border-radius: 35%;
    font-size: 12px;
    font-family: 'Trocchi', serif;
  }

  .ticket-inputs > input {
    margin-bottom: 5px;
    border: 1px solid lightslategray;
    padding: 5px;
    width: 120%;
  }

  .field-label {
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Rozha One', serif; 
  }

  .ticket-table {
    background: lightblue;
    margin: auto; 
  }

  .ticket-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


}/*end of iphone6 css*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .hide-when-small {
    display: none;
  }

  .hide-when-large {
    display: flex;
  }

  ul {
    list-style: none;
  }

  .tickets-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    border: 1px solid black;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px 1px #1C2541;
    background-color: lightskyblue;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .ticket-inputs, .edit-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .field-labels {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 7px;
  }

  .edit-button {
    margin-bottom: 12px;
    margin-right: 10px;
    border: 1px solid #1C2541;
    background-color: #5BC0BE;
    border-radius: 35%;
    font-family: 'Trocchi', serif;
    font-size: 14px;
  }

  .delete-button {
    margin: 10px 10px;
    border: 2px solid lightcoral;
    background-color: lightcoral;
    border-radius: 35%;
    font-size: 15px;
    font-family: 'Trocchi', serif;
  }

  .ticket-inputs > input {
    margin-bottom: 5px;
    border: 1px solid lightslategray;
    padding: 8px;
    width: 185%;
    font-size: 12px;
  }

  .field-label {
    margin-bottom: 10px;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Rozha One', serif; 
  }

  .ticket-table {
    background: lightblue;
    margin: auto; 
  }

  .ticket-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

}/*end of iphones landscape css*/


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hide-when-small {
    display: none;
  }

  .hide-when-large {
    display: flex;
  }

  ul {
    list-style: none;
  }

  .tickets-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    border: 1px solid black;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px 1px #1C2541;
    background-color: lightskyblue;
    padding-top: 10px;
  }

  .ticket-inputs, .edit-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .field-labels {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 7px;
  }

  .edit-button {
    margin-bottom: 12px;
    margin-right: 10px;
    border: 1px solid #1C2541;
    background-color: #5BC0BE;
    border-radius: 35%;
    font-family: 'Trocchi', serif;
    font-size: 16px;
  }

  .delete-button {
    margin: 10px 10px;
    border: 2px solid lightcoral;
    background-color: lightcoral;
    border-radius: 35%;
    font-size: 16px;
    font-family: 'Trocchi', serif;
  }

  .ticket-inputs > input {
    margin-bottom: 5px;
    border: 1px solid lightslategray;
    padding: 10px;
    width: 215%;
    font-size: 16px;
  }

  .field-label {
    margin-bottom: 10px;
    font-size: 25px;
    padding-left: 10px;
    font-family: 'Rozha One', serif; 
  }

  .ticket-table {
    background: lightblue;
    margin: auto; 
  }

  .ticket-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}/*end of ipad css*/






